
#header {
    background-color: black;
    color: white;
}

.top-half-row {
    column-gap: 0px;
}

#header-title {
    margin-left: 10px;
}

#loan-button {
    background-color: #3DED97;
    border-width: 1px;
    border-color: lightgray;
    margin-bottom: 0;
    width: 100%;
}

#bank-button {
    margin-bottom: 0;
    background-color: yellow;
    border-width: 1px;
    border-color: lightgray;
    width: 100%;   
}

#work-button {
    margin-bottom: 0;
    background-color: #2832C2;
    border-width: 1px;
    border-color: lightgray;
    color: white;
    width: 100%;
}

#repay-loan-button {
    margin-bottom: 0;
    background-color: lightgreen;
    width: 100%;
}

.bank-card {
    text-align: left;
    padding: 0 5px 0 5px;
}

#bank-card-middle-row {
    margin-bottom: 30%;
    margin-top: 4%;
}

.work-card {
    text-align: left;
}

#work-card-middle-row {
    margin-bottom: 30%;
    margin-top: 5%;
}

#bank-button-column {
    padding: 5px;
}

#work-button-column {
    padding: 5px;
    margin-bottom: 3%;
}

#loan-button-column {
    margin-top: 1%;
    margin-bottom: 4%;
}

#buy-now-button {
    margin-bottom: 10%;
    background-color: #82EEFD;
    color: black;
    display: none;
}

.laptops-card {
    text-align: left;
}

#laptops-card-middle-row {
    margin-bottom: 38%;
    margin-top: 5%;
}

#laptop-image {
    margin-top: 10%;
    margin-bottom: 10%;
}

ul {
    list-style-position: inside;
}

#features {
    display: none;
}

#bank-card-loan-row {
    display: none;
}

#repay-loan-row {
    display: none;
}

#laptop-title {
    margin-top: 10%;
}

#laptop-price {
    margin-top: 30%;
    margin-bottom: 10%;
    text-align: center;
}






 